<?php
/**
 * Webkul_MpDailyDeals View On Product template.
 * @category  Webkul
 * @package   Webkul_MpDailyDeals
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$dealDetail = $block->getCurrentProductDealDetail();
$product = $block->getCurrentProduct();
$type = $product->getTypeId();
$dealststus = 0;
if ($type != "configurable") {
    if ($dealDetail && $dealDetail['deal_status']
    && isset($dealDetail['diff_timestamp'])) { $dealststus = 1; ?>
        <div class="deal wk-daily-deal clear" data-deal-id="<?php echo $dealDetail['deal_id'] ?>">
        <div class="wk-deal-timer">
            <span class="deal-ens-in">
                    <?php echo __('Deals Ends in');?>
            </span>
            <p class="wk_cat_count_clock" data-stoptime="<?php /* @escapeNotVerified */ echo $dealDetail['stoptime'] ?>" 
                data-diff-timestamp ="<?php /* @escapeNotVerified */ echo $dealDetail['diff_timestamp'] ?>">
            </p>
        </div>
            <?php if (!count($product->getOptions()) || $product->getTypeId() == 'booking') { ?>
            <span class="wk-deal-off">
                 <?php /* @escapeNotVerified */ echo $dealDetail['discount-percent']?>% <?php echo __('Off'); ?>
            </span>
        <?php } ?>
        
            <?php if (isset($dealDetail['saved-amount'])) { ?>
            <span class="save-box ">
                <b class="save-label"><?php echo __('Save On Deal'); ?> <?php echo $dealDetail['saved-amount']?></b>
            </span>
        <?php } ?>
    </div>

    <?php }} if ($type == "configurable") { ?>
    
        <?php
        $associatedProducts = $this->getAllAssociatedProducts();
        foreach ($associatedProducts as $key => $value) {
            $dealDetail = $this->getChildProductDealDetail($value);
        
            if ($dealDetail && $dealDetail['deal_status']
            && isset($dealDetail['diff_timestamp'])) { $dealststus = 1;?>
            <div class="deal wk-daily-deal" data-deal-id="<?php echo $value ?>" id="deal<?php echo $value; ?>" >
                <div class="wk-deal-timer">
                    <span class="deal-ens-in">
                            <?php echo __('Deals Ends in');?>
                    </span>
                    <p class="wk_cat_count_clock" data-stoptime="<?php /* @escapeNotVerified */ echo $dealDetail['stoptime'] ?>" 
                        data-diff-timestamp ="<?php /* @escapeNotVerified */ echo $dealDetail['diff_timestamp'] ?>">
                    </p>
                </div>
                    <?php if (!count($product->getOptions()) || $product->getTypeId() == 'booking') { ?>
                    <span class="wk-deal-off">
                        <?php /* @escapeNotVerified */ echo $dealDetail['discount-percent']?>% <?php echo __('Off'); ?>
                    </span>
                <?php } ?>
                
                    <?php if (isset($dealDetail['saved-amount'])) { ?>
                    <span class="save-box ">
                        <b class="save-label"><?php echo __('Save On Deal'); ?> <?php echo $dealDetail['saved-amount']?></b>
                    </span>
                <?php } ?>
            </div>
        <?php }

        }}?>
<?php if ($type == "grouped") { ?>
    
    <?php
    $associatedProducts = $this->getAllGroupedAssociatedProducts();
    foreach ($associatedProducts as $key => $value) {
        $dealDetail = $this->getChildProductDealDetail($value);
        if ($dealDetail && $dealDetail['deal_status']
        && isset($dealDetail['diff_timestamp'])) { $dealststus = 1;?>
            <div class="deal wk-daily-deal wk-grouped-deal" data-deal-id="<?php echo $value ?>" id="grouped<?php echo $value; ?>" data-id="<?php echo $value; ?>" >
                <div class="wk-deal-timer">
                    <span class="deal-ens-in">
                        <?php echo __('Deals Ends in');?>
                    </span>
                    <p class="wk_cat_count_clock" data-stoptime="<?php /* @escapeNotVerified */ echo $dealDetail['stoptime'] ?>" 
                        data-diff-timestamp ="<?php /* @escapeNotVerified */ echo $dealDetail['diff_timestamp'] ?>">
                    </p>
                </div>
                <?php if (!count($product->getOptions()) || $product->getTypeId() == 'booking') { ?>
                    <span class="wk-deal-off">
                        <?php /* @escapeNotVerified */ echo $dealDetail['discount-percent']?>% <?php echo __('Off'); ?>
                    </span>
                <?php } ?>
                
                <?php if (isset($dealDetail['saved-amount'])) { ?>
                    <span class="save-box ">
                        <b class="save-label"><?php echo __('Save On Deal'); ?> <?php echo $dealDetail['saved-amount']?></b>
                    </span>
                <?php } ?>
            </div>
    <?php }

    }}?>

<script type="text/x-magento-init">
    {
        "body": {"viewondealproduct": { "dealstatus" : <?php echo $dealststus?> }}
    }
</script>
<?php if ($dealststus) { ?>
    <style>
        .product-info-main .product-info-price .price-box .price-container > span {
            height: unset;
            width: unset;
            position: unset;
        }
    </style>
<?php } ?>