<?php
/**
  * Webkul_MpDailyDeal deal list block.
  * @category  Webkul
  * @package   Webkul_MpDailyDeal
  * @author    Webkul
  * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
  * @license   https://store.webkul.com/license.html
  */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Product\Productlist */
$dealTimeOffset = false;
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$dealHelper = $this->helper('Webkul\MpDailyDeal\Helper\Data');
$paramData = $this->getRequest()->getParams();
$filter = '';

if (isset($paramData['s'])) {
    $filter = $paramData['s'] != '' ? $paramData['s'] : '';
}

$_products_coll = $block->getAllProducts(); 
?>	
<div class="wk-mp-design">
	<fieldset class="fieldset info wk-mp-fieldset">
		<legend class="legend">
			<span><?php /* @escapeNotVerified */ echo __('My Product List') ?></span>
		</legend>
		<div class="grid">
			<div class="hor-scroll">
				<form action="<?php /* @escapeNotVerified */ echo $block->getUrl('mpdailydeal/account/deallist/', ['_secure' => $this->getRequest()->isSecure()])?>" method="get" id="form-productlist-filter"  name="formProductlistFilter" data-mage-init='{"validation":{}}'>
					<table cellspacing="0" class="border wk-mp-list-table">
					    <thead>
					        <tr id="wk-mp-tr-heading">
					            <th><span><?php /* @escapeNotVerified */ echo __('Product Name') ?></span></th>
					            <th><span>&nbsp;</span></th>
					        </tr>
					    </thead>
					    <tbody class="wk-mp-body">
					    	<tr>
					    		<td>
					    			<input type="text" class="input-text" name="s" placeholder='<?php /* @escapeNotVerified */ echo __('Search by product name') ?>' value="<?php /* @escapeNotVerified */ echo $filter?>"/>
					    		</td>
					    		<td>
					    			<button class="button" title="Save" type="submit">
										<span><span><span><?php /* @escapeNotVerified */ echo __('Submit') ?></span></span></span>
									</button>
					    		</td>
					    	</tr>
					    </tbody>
					</table>
				</form>
				<?php if ($_products_coll && count($_products_coll)): ?>
					<form action="<?php echo $block->getUrl('mpdailydeal/account/massdisable', ['_secure' => $this->getRequest()->isSecure()]) ?>" method="post" id="form-productlist-massdisable" name="formProductlistMassDisable" data-mage-init='{"validation":{}}'>
						<?php echo $block->getBlockHtml('formkey')?>
						<?php echo $block->getBlockHtml('seller.formkey')?>
						<button class="button" title="<?php /* @escapeNotVerified */ echo __('Disable Deal') ?>" type="submit" id="mass-delete-butn">
							<span>
								<span><?php /* @escapeNotVerified */ echo __('Disable Deal') ?></span>
							</span>
						</button>
						<table cellspacing="0" class="border wk-mp-list-table wk-mp-list-container-table">
						    <thead>
						        <tr class="wk-content">
						        	<th class="wk-check-first-td">
						    			<span>
											<input type="checkbox" name="mpselecctall" value="all" id="mpdealselecctall"/>
										</span>
						    		</th>
						    		<th class="wk-first-td">
						    			<span class="label name">
											<?php /* @escapeNotVerified */ echo __('Product')?>
										</span>
						    		</th>
						    		<th class="wk-first-td">
						    			<span class="label name">
											<?php /* @escapeNotVerified */ echo __('Deal Price')?>
										</span>
						    		</th>
						    		<th class="wk-first-td">
						    			<span class="label name">
											<?php /* @escapeNotVerified */ echo __('Start Date')?>
										</span>
						    		</th>
						    		<th class="wk-first-td">
						    			<span class="label name">
											<?php /* @escapeNotVerified */ echo __('End Date')?>
										</span>
						    		</th>
									<th>
						    			<span class="label">
											<?php /* @escapeNotVerified */ echo __('Deal Status')?>
										</span>
						    		</th>
						    		<th>
						    			<span class="label">
											<?php /* @escapeNotVerified */ echo __('Action')?>
										</span>
						    		</th>			    		
						    	</tr>
						    </thead>
						    <tbody>
						    	<?php 
						    	$i = 0;
								foreach($block->getAllProducts() as $products){
									$products = $dealHelper->loadProductById($products->getEntityId());
									$i++;
					            	$imageUrl = $block->imageHelperObj()->init($products, 'product_page_image_small')
						                        ->setImageFile($products->getFile())
						                        ->getUrl();
									?>
							    	<tr class="wk-row-view <?php /* @escapeNotVerified */ echo $class = ($i == count($block->getAllProducts()))? 'wk-last_tr':''?>">
							    		<td class="wk-check-first-td">
							    			<span>
												<input type="checkbox" name="deal_mass_disable[]" class="mpcheckbox" value="<?php /* @escapeNotVerified */ echo $products->getEntityId(); ?>"/>
											</span>
							    		</td>
							    		<td class="wk-first_td">
											<input type="hidden" class="hidden-id" value="<?php /* @escapeNotVerified */ echo $products->getEntityId(); ?>" />
											<div class="label name" title="<?php /* @escapeNotVerified */ echo $products->getName(); ?>">
												<div class="wk-pro-divide1">
													<img src="<?php /* @escapeNotVerified */ echo $imageUrl?>" class="image" />
												</div>
												<div class="wk-pro-divide2">
													<div style="width:100%;">
														<?php if($products->getStatus()==1 && $products->getVisibility()!=1) { ?>
															<a href="<?php /* @escapeNotVerified */ echo $products->getProductUrl()?>" target="blank">
														<?php }?>
															<?php /* @escapeNotVerified */ echo $products->getName();?>
														<?php if($products->getStatus()==1 && $products->getVisibility()!=1) { ?>
															</a>
														<?php }?>
													</div>
													<div style="width:100%;float:left;">
														<?php 
														if($products->getPrice()*1){
														 /* @escapeNotVerified */	echo $block->getFormatedPrice($products->getPrice(), $helper->getCurrencySymbol());
														}else{
														 /* @escapeNotVerified */	echo $helper->getCurrencySymbol().'0.00';
														}
														?>
													</div>
												</div>
											</div>
							    		</td>
							    		<?php $dealValue = $products->getDealValue();
							    			  $dealDiscountType = $products->getDealDiscountType();
							    			  if ($dealDiscountType == 'percent') {
							    			  	$price = (($dealValue * $products->getPrice())/100);
							    			  } else {
							    			  	$price = $dealValue;
							    			  }
							    		?>
							    		<td><?php /* @escapeNotVerified */ echo $block->getFormatedPrice($price, $helper->getCurrencySymbol());?></td>
										<td><span id="deal_from_date<?php echo $products->getEntityId(); ?>"><?php /* @escapeNotVerified */ echo $products->getDealFromDate();
										$dealTimeOffset[$products->getEntityId()]['deal_from_date'] = $block->getUtcOffset($products->getDealFromDate());
										?></span>
										</td>
										<td><span id="deal_to_date<?php echo $products->getEntityId(); ?>"><?php /* @escapeNotVerified */ echo $products->getDealToDate();
										$dealTimeOffset[$products->getEntityId()]['deal_to_date'] = $block->getUtcOffset($products->getDealToDate());?></span></td>
							    		<td>
												<?php /* @escapeNotVerified */ echo __($products->getDealStatus()? "Enable" : "Disable"); ?>
							    		</td>
										<td>
							    		<a href="<?php /* @escapeNotVerified */ echo $block->getAddDealUrl($products->getEntityId())?>" class="button" ><?php /* @escapeNotVerified */ echo __('Edit Deal') ?></a>
							    		</td>			    		
							    	</tr>
							    	<?php
							    }?>
						    </tbody>
						</table>
					</form>				
				<?php else: ?>
					<div class="wk-emptymsg">
						<?php /* @escapeNotVerified */ echo __('No Product Available') ?>
					</div>
				<?php endif ?>					
			</div>
		</div>
		<?php if ($block->getPagerHtml()): ?>
	        <div class="order-products-toolbar toolbar bottom"><?php /* @escapeNotVerified */ echo $block->getPagerHtml(); ?></div>
	    <?php endif ?>	
	</fieldset>	
	<div class="buttons-set">
		<p class="back-link">
			<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php /* @escapeNotVerified */ echo __('Back') ?></a>
		</p>
	</div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "sellerDealList": {
				"timeOffset" : <?php echo json_encode($dealTimeOffset); ?>
			}
        }
    }
</script>