<?php
/**
  * Webkul_MpDailyDeal product for deal block.
  * @category  Webkul
  * @package   Webkul_MpDailyDeal
  * @author    Webkul
  * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
  * @license   https://store.webkul.com/license.html
  */

// @codingStandardsIgnoreFile


$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$paramData = $this->getRequest()->getParams();
$filter = '';

if (isset($paramData['s'])) {
    $filter = $paramData['s'] != '' ? $paramData['s'] : '';
}

$productsColl = $block->getAllProducts();
?>	
<div class="wk-mp-design">
	<fieldset class="fieldset info wk-mp-fieldset">
		<legend class="legend">
			<span><?php /* @escapeNotVerified */ echo __('My Product List For Deal') ?></span>
		</legend>
		<div class="grid">
			<div class="hor-scroll">
				<form action="<?php /* @escapeNotVerified */ echo $block->getUrl('mpdailydeal/account/index/', ['_secure' => $this->getRequest()->isSecure()])?>" method="get" id="form-productlist-filter"  name="formProductlistFilter" data-mage-init='{"validation":{}}'>
					<table cellspacing="0" class="border wk-mp-list-table">
					    <thead>
					        <tr id="wk-mp-tr-heading">
					            <th><span><?php /* @escapeNotVerified */ echo __('Product Name') ?></span></th>
					            <th><span>&nbsp;</span></th>
					        </tr>
					    </thead>
					    <tbody class="wk-mp-body">
					    	<tr>
					    		<td>
					    			<input type="text" class="input-text" name="s" placeholder='<?php /* @escapeNotVerified */ echo __('Search by product name') ?>' value="<?php /* @escapeNotVerified */ echo $block->escapeHtml($filter)?>"/>
					    		</td>
					    		<td>
					    			<button class="button" title="Save" type="submit">
										<span><span><span><?php /* @escapeNotVerified */ echo __('Submit') ?></span></span></span>
									</button>
					    		</td>
					    	</tr>
					    </tbody>
					</table>
				</form>
				<?php if ($productsColl && $productsColl->getSize()): ?>
						<table cellspacing="0" class="border wk-mp-list-table wk-mp-list-container-table">
						    <thead>
						        <tr class="wk-content">
						    		<th class="wk-first-td">
						    			<span class="label name">
											<?php /* @escapeNotVerified */ echo __('Product')?>
										</span>
						    		</th>
						    		<th>
						    			<span class="label">
											<?php /* @escapeNotVerified */ echo __('Action')?>
										</span>
						    		</th>			    		
						    	</tr>
						    </thead>
						    <tbody>
						    	<?php 
						    	$i = 0;
								foreach($productsColl->getData() as $products){
									$i++;
									$products = $block->getProductData($products['entity_id']);
					            	$image_url = $block->imageHelperObj()->init($products, 'product_page_image_small')
						                        ->setImageFile($products->getFile())
						                        ->getUrl();
                					?>
							    	<tr class="wk-row-view <?php /* @escapeNotVerified */ echo $class = ($i == count($block->getAllProducts()))? 'wk-last_tr':''?>">
							    		<td class="wk-first_td">
											<input type="hidden" class="hidden-id" value="<?php /* @escapeNotVerified */ echo $products->getEntityId(); ?>" />
											<div class="label name" title="<?php /* @escapeNotVerified */ echo $products->getName(); ?>">
												<div class="wk-pro-divide1">
													<img src="<?php /* @escapeNotVerified */ echo $image_url?>" class="image" />
												</div>
												<div class="wk-pro-divide2">
													<div style="width:100%;">
														<?php if($products->getStatus()==1 && $products->getVisibility()!=1) { ?>
															<a href="<?php /* @escapeNotVerified */ echo $products->getProductUrl()?>" target="blank">
														<?php }?>
															<?php /* @escapeNotVerified */ echo $products->getName();?>
														<?php if ($products->getStatus()==1 && $products->getVisibility()!=1) { ?>
															</a>
														<?php }?>
													</div>
													<div style="width:100%;float:left;">
														<?php
														if ($products->getPrice()) {
														 /* @escapeNotVerified */	echo $block->getFormatedPrice($products->getPrice(), $helper->getCurrencySymbol());
														} else {
														 /* @escapeNotVerified */	echo $helper->getCurrencySymbol().'0.00';
														}
														?>
													</div>
												</div>
											</div>
							    		</td>
							    		<td>
							    		<a href="<?php /* @escapeNotVerified */ echo $block->getAddDealUrl($products->getEntityId())?>" class="button" ><?php /* @escapeNotVerified */ echo __('Add Deal') ?></a>
							    		</td>			    		
							    	</tr>
							    	<?php
							    }?>
						    </tbody>
						</table>				
				<?php else: ?>
					<div class="wk-emptymsg">
						<?php /* @escapeNotVerified */ echo __('No Product Available') ?>
					</div>
				<?php endif ?>					
			</div>
		</div>
		<?php if ($block->getPagerHtml()): ?>
	        <div class="order-products-toolbar toolbar bottom"><?php /* @escapeNotVerified */ echo $block->getPagerHtml(); ?></div>
	    <?php endif ?>	
	</fieldset>	
	<div class="buttons-set">
		<p class="back-link">
			<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php /* @escapeNotVerified */ echo __('Back') ?></a>
		</p>
	</div>
</div>	
<script type="text/x-magento-init">
    {
        "*": {
            "sellerProductList": {}
        }
    }
</script>