<?php
/**
 * Webkul_MpDailyDeals Top Deals Of Day Block.
 * @category  Webkul
 * @package   Webkul_MpDailyDeals
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$topDealsOfDay = $block->getTopDealsOfDay();
?>
<?php if ($topDealsOfDay) : ?>
    <div class="block block-compare block-topdeals">
        <div class="block-title">
            <strong><?php /* @escapeNotVerified */ echo __('Top Deals of the Day'); ?></strong>
        </div>
        <div class="block-content">
            <ol class="product-items">
                <?php foreach ($topDealsOfDay as $product) {
                    ?>
                    <li class="product-item">
                        <div class="product-item-info">
                            <a class="product-item-photo" href="<?php /* @escapeNotVerified */ echo $product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $product->getName()?>">
                                <span class="product-image-container">
                                    <span class="product-image-wrapper">
                                        <img class="product-image-photo" src="<?php /* @escapeNotVerified */ echo $block->getDealProductImage($product)?>" alt="<?php /* @escapeNotVerified */ echo $product->getName()?>">
                                    </span>
                                </span>
                            </a>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a class="product-item-link" href="<?php /* @escapeNotVerified */ echo $product->getProductUrl()?>">
                                        <span ><?php /* @escapeNotVerified */ echo $product->getName()?></span>
                                    </a>
                                </strong>
                                <?php /* @escapeNotVerified */ echo $block->getProductPrice($product);?> 
                            </div>
                        </div>
                        <div class="clear-left"></div>
                    </li>
                <?php } ?>
            </ol>
        </div>
    </div>
<?php endif ?>
