<?php
/**
 * Webkul DailyDeals Product Edit
 *
 * @category  Webkul
 * @package   Webkul_DailyDeals
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */


$dealsDateTime = $block->getDealsDateTime();
if ($dealsDateTime) { ?>
    <script type="text/x-magento-init">
        {
            "*": {
                "Webkul_MpDailyDeal/js/setattribute": {
                        "dealFrom": "<?php /* @noEscape */ echo $dealsDateTime['deal_from_date'] ?>",
                        "dealTo": "<?php /* @noEscape */ echo $dealsDateTime['deal_to_date'] ?>",
                        "dateFormat" :"<?php /* @noEscape */ echo $dealsDateTime['date_format'] ?>",
                        "productType" : "<?php /* @noEscape */ echo $dealsDateTime['product_type'] ?>"
                }
            }
        }
    </script>
<?php } ?>
<script>
        require([
            "jquery",
            "mage/mage"
        ], function($){
            $('[data-index=block_gallery]').find('div').trigger('click');
        });
</script>

